<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LatinArt menu</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Redressed&display=swap" rel="stylesheet">
</head>
<body>
    <header>

        <h2>LatinArt</h2>
        <nav class="nav-container">
            <ul>
                <li class="items">Home</li>
                <li class="items">Galeria</li>
                <li class="items">Contactanos</li>
                <li class="items">Nosotros</li>
            </ul>
        </nav>
    </header>
 <section class="container">
    <main>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe officiis hic doloribus doloremque, soluta fuga minus magnam maxime iusto unde natus facilis mollitia tempora magni numquam delectus, commodi animi quaerat!
            Voluptatum corporis, animi eius totam quas, dolore magnam unde alias vero officia enim esse fuga tempora sunt vel commodi nisi labore necessitatibus similique nobis sit minima. Omnis, repellendus. Consequuntur, nulla!
            A dolorum nisi natus, at accusamus facilis totam minima excepturi ducimus consequuntur quaerat sequi nobis cum deleniti nemo voluptatem perspiciatis? Cumque doloremque eligendi perspiciatis cum culpa nam omnis error unde!
        </p>
    </main>
    <aside>
        <div class="aside-box-item"></div>
        <div class="aside-box-item"></div>
        <div class="aside-box-item"></div>
        <div class="aside-box-item"></div>
    </aside>
</section>
    <footer>
        Copyright By Yohswha
    </footer>
</body>
</html>
